/* ================================= 
  Flexbox
==================================== */

.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.item-2 {
	margin-right: auto;
}