/* ================================= 
  Flexbox
==================================== */

.container {
	display: flex;
	flex-wrap: wrap;
	height: 450px;
}

.item {	
	flex: 1;
}

.item-1 {
	align-self: flex-end
}

.item-2 {
	flex: 2;
}

.item-4 {
	align-self: center;
}










